mixin cdn()
  - foundation_version = '5.5.0'
  - fontAwsome_version = '4.3.0'

  link(type='text/css', rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/#{foundation_version}/css/normalize.min.css")
  link(type='text/css', rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/#{fontAwsome_version}/css/font-awesome.min.css")
  link(type='text/css', rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/#{foundation_version}/css/foundation.min.css")

  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/foundation/#{foundation_version}/js/vendor/jquery.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/foundation/#{foundation_version}/js/vendor/fastclick.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/foundation/#{foundation_version}/js/foundation.min.js")

mixin init()
  script.
    $(document).foundation();



